*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow';
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1280px;
  max-width: 100%;
  padding: 0 10px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__item {
  margin-right: 33px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: #83888F;
}

.header__link:hover {
  color: #333D4B;
}

.menu {
  display: none;
}

.checkbox {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.plan {
  margin-top: 43px;
  margin-bottom: 165px;
}

.plan__wrapper {
  width: 1260px;
  max-width: 100%;
  height: 450px;
  position: relative;
}

.plan__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  padding-top: 134px;
  padding-left: 85px;
}

.plan__text {
  width: 445px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-top: 32px;
  margin-left: 85px;
}

.plan__image {
  max-width: 1260px;
  height: 450px;
  position: absolute;
}

.number__wrapper {
  width: 1260px;
  background: #2C343E;
  border-radius: 10px;
}

.number__intro_wrapper {
  padding-top: 50px;
  width: 1045px;
  margin: 0  auto;
  padding: 90px 0px 109px 0px;
}

.number .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2px;
  width: 760px;
  background-color: #FDD6BA;
  margin-bottom: 82px;
}

.number .circle {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: #2C343E;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.number .circle:nth-child(2) {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.number .circle:last-child {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.number__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 64px;
}

.number__item {
  margin-right: 95px;
}

.number__item:nth-child(3) {
  margin-right: 0;
}

.number__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.number__subtitle {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  margin-bottom: 43px;
}

.number__text {
  width: 285px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin: 0 auto;
  padding-top: 159px;
}

.about__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 125px;
}

.about__item {
  padding: 24px 0 24px 0;
}

.about__item:nth-child(1) {
  padding-top: 0;
}

.about__tdn {
  font-family: 'Fraunces';
  text-decoration: none;
  font-style: normal;
  color: #333D4B;
  opacity: 0.5;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.about__number {
  margin-right: 25px;
}

.about__line {
  width: 255px;
}

.light {
  color: #0E8784;
}

.dark {
  color: #333D4B;
  opacity: 1;
}

.opacity {
  opacity: 0.5;
}

.about_box__list {
  text-decoration: none;
}

.about_box__title {
  width: 632px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
}

.about_box__arrow-up {
  -webkit-transform: translate(710px, -35px);
          transform: translate(710px, -35px);
}

.about_intro_box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.about_intro_box__item {
  width: 228px;
  height: 250px;
  background: #F4F1EB;
  border-radius: 8px;
  margin-right: 23px;
  margin-bottom: 88px;
  padding: 32px 28px 88px 28px;
}

.about_intro_box__item:last-child {
  margin-right: 0;
}

.about_intro_box__title {
  width: 175px;
  font-family: 'Fraunces';
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.about_info_box__text {
  width: 172px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.green {
  background: #0E8784;
}

.white {
  color: #FEFCF7;
}

.order__item {
  background-color: #2C343E;
  width: 730px;
  height: 208px;
  padding: 27px 64px 27px 64px;
}

.order__text {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}

.order__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.blue {
  color: #0E8784;
}

.btn {
  display: inline-block;
  padding: 15px 35px 16px 35px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
  margin-top: 40px;
  -webkit-transform: translateX(535px);
          transform: translateX(535px);
}

.btn:hover {
  background-color: #66D2CF;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #2C343E;
  position: relative;
  margin-top: 200px;
}

.footer__logo {
  margin: 48px 108px 47px 85px;
}

.footer__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  color: #83888F;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-right: 33px;
}

.footer__link:hover {
  color: #FEFCF7;
}

.footer__img {
  position: absolute;
  right: 86px;
}

.footer__img_link {
  margin-right: 24px;
}

.footer__img_link:last-child {
  margin-right: 0;
}

.footer__img_right {
  margin-right: 24px;
}

.footer__img_right:nth-child(3) {
  margin-right: 0;
}

.footer .icon {
  width: 24px;
  height: 24px;
  fill: #FEFCF7;
}

.footer .icon:hover {
  fill: #FDD6BA;
}

.footer .twitter {
  width: 24px;
  height: 19.5px;
  fill: #FEFCF7;
}

.footer .twitter:hover {
  fill: #FDD6BA;
}

.footer .instagram {
  width: 24px;
  height: 24px;
  fill: #FEFCF7;
}

.footer .instagram:hover {
  fill: #FDD6BA;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 689px;
    max-width: 100%;
    padding: 0px;
  }
  .plan {
    margin-top: 43px;
    margin-bottom: 165px;
  }
  .plan__title {
    width: 324px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #FEFCF7;
    padding-top: 134px;
    padding-left: 85px;
  }
  .plan__text {
    width: 398px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-top: 32px;
    margin-left: 85px;
  }
  .plan__image {
    max-width: 689px;
    height: 400px;
  }
  .number {
    background: #2C343E;
  }
  .number__wrapper {
    width: 689px;
    border-radius: 10px;
  }
  .number__intro_wrapper {
    width: 689px;
    padding-top: 50px;
    margin: 0  auto;
    padding: 90px 0px 109px 0px;
  }
  .number .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2px;
    width: 467px;
    background-color: #FDD6BA;
    margin-bottom: 82px;
  }
  .number .circle {
    display: inline-block;
    width: 31px;
    height: 31px;
    background: #2C343E;
    border: 2px solid #0E8784;
    border-radius: 50%;
  }
  .number .circle:nth-child(2) {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .number .circle:last-child {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  .number__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin-bottom: 64px;
  }
  .number__item {
    width: 223px;
    margin-right: 10px;
  }
  .number__item:nth-child(3) {
    margin-right: 0;
  }
  .number__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 38px;
  }
  .number__subtitle {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
    margin-bottom: 43px;
  }
  .number__text {
    width: 213px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    color: #FEFCF7;
  }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 689px;
    margin: 0 auto;
    padding-top: 144px;
  }
  .about__menu {
    display: none;
  }
  .about__item {
    padding: 24px 0 24px 0;
  }
  .about__item:nth-child(1) {
    padding-top: 0;
  }
  .about__tdn {
    font-family: 'Fraunces';
    text-decoration: none;
    font-style: normal;
    color: #333D4B;
    opacity: 0.5;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .about__number {
    margin-right: 25px;
  }
  .about__line {
    width: 255px;
  }
  .light {
    color: #0E8784;
  }
  .dark {
    color: #333D4B;
    opacity: 1;
  }
  .opacity {
    opacity: 0.5;
  }
  .about_box__list {
    width: 689px;
    text-decoration: none;
  }
  .about_box__title {
    width: 503px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #83888F;
  }
  .about_box__arrow-up {
    -webkit-transform: translate(650px, -35px);
            transform: translate(650px, -35px);
  }
  .about_intro_box__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
  }
  .about_intro_box__item {
    width: 223px;
    height: 250px;
    background: #F4F1EB;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 88px;
    padding: 32px 28px 88px 28px;
  }
  .about_intro_box__item:last-child {
    margin-right: 0;
  }
  .about_intro_box__title {
    width: 175px;
    font-family: 'Fraunces';
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }
  .about_info_box__text {
    width: 172px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
  }
  .green {
    background: #0E8784;
  }
  .white {
    color: #FEFCF7;
  }
  .order__item {
    background-color: #2C343E;
    width: 689px;
    height: 208px;
    padding: 27px 43px 27px 44px;
  }
  .order__text {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .order__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
  }
  .blue {
    color: #0E8784;
  }
  .btn {
    display: inline-block;
    padding: 15px 35px 16px 35px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;
    margin-top: 40px;
    -webkit-transform: translateX(235px);
            transform: translateX(235px);
  }
  .footer__wrapper {
    width: 688px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 270px;
    background-color: #2C343E;
    position: relative;
    margin-top: 200px;
  }
  .footer__logo {
    width: 236px;
    height: 26px;
    margin: 48px 108px 47px 85px;
  }
  .footer__menu {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    color: #83888F;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-right: 33px;
  }
  .footer__link:hover {
    color: #FEFCF7;
  }
  .footer__img {
    position: absolute;
    right: 283px;
    bottom: 54px;
  }
  .footer__img_link {
    margin-right: 24px;
  }
  .footer__img_link:last-child {
    margin-right: 0;
  }
  .footer__img_right {
    margin-right: 24px;
  }
  .footer__img_right:nth-child(3) {
    margin-right: 0;
  }
  .footer .icon {
    width: 24px;
    height: 24px;
    fill: #FEFCF7;
  }
  .footer .icon:hover {
    fill: #FDD6BA;
  }
  .footer .twitter {
    width: 24px;
    height: 19.5px;
    fill: #FEFCF7;
  }
  .footer .twitter:hover {
    fill: #FDD6BA;
  }
  .footer .instagram {
    width: 24px;
    height: 24px;
    fill: #FEFCF7;
  }
  .footer .instagram:hover {
    fill: #FDD6BA;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    margin: 0 auto;
    width: 327px;
    max-width: 100%;
    padding: 0px;
  }
  .menu {
    text-align: center;
    display: block;
    width: 16px;
    height: 15px;
    fill: #000;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px;
  }
  .header__list {
    display: none;
  }
  .checkbox {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .checkbox:checked + .header__list {
    display: block;
    position: absolute;
    height: 434px;
    top: 70px;
    z-index: 2;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #5d5f61b8;
    text-align: center;
    padding-top: 50px;
  }
  .checkbox:checked + .header__list .header__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .checkbox:checked + .header__list .header__link {
    color: #000;
    text-align: center;
    margin-right: 0;
  }
  .plan {
    margin-top: 41px;
    margin-bottom: 165px;
  }
  .plan__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: #FEFCF7;
    padding-top: 101px;
    padding-left: 24px;
  }
  .plan__text {
    width: 279px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-top: 22px;
    margin-left: 24px;
    text-align: center;
  }
  .plan__image {
    width: 327px;
    height: 400px;
  }
  .number {
    background: #2C343E;
    margin: 0;
  }
  .number__wrapper {
    width: 375px;
    border-radius: 0px;
    margin: 0;
  }
  .number__intro_wrapper {
    width: 327px;
    padding-top: 50px;
    margin: 0  auto;
    padding: 90px 0px 29px 0px;
  }
  .number .none {
    width: 375px;
  }
  .number .line {
    display: none;
  }
  .number .circle {
    display: none;
  }
  .number__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  .number__item {
    width: 327px;
    margin-right: 0;
    margin-bottom: 56px;
  }
  .number__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin: 0;
    text-align: center;
  }
  .number__subtitle {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #FEFCF7;
    margin: 24px 0 24px 0;
    height: 32px;
    text-align: center;
  }
  .number__text {
    width: 327px;
    height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    text-align: center;
  }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 328px;
    margin: 0;
    padding-top: 144px;
  }
  .about__menu {
    display: none;
  }
  .about__item {
    padding: 24px 0 24px 0;
  }
  .about__item:nth-child(1) {
    padding-top: 0;
  }
  .about__tdn {
    font-family: 'Fraunces';
    text-decoration: none;
    font-style: normal;
    color: #333D4B;
    opacity: 0.5;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .about__number {
    margin-right: 25px;
  }
  .about__line {
    width: 255px;
  }
  .light {
    color: #0E8784;
  }
  .dark {
    color: #333D4B;
    opacity: 1;
  }
  .opacity {
    opacity: 0.5;
  }
  .about_box__list {
    width: 328px;
    text-decoration: none;
  }
  .about_box__item {
    width: 328px;
  }
  .about_box__title {
    width: 240px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #83888F;
  }
  .about_box__arrow-up {
    -webkit-transform: translate(309px, -39px);
            transform: translate(309px, -39px);
  }
  .about_intro_box__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    width: 328px;
  }
  .about_intro_box__list:last-child {
    margin-bottom: 110px;
  }
  .about_intro_box__item {
    width: 328px;
    height: 140px;
    background: #F4F1EB;
    border-radius: 8px;
    margin-right: 0px;
    margin-bottom: 16px;
    padding: 24px 25px 24px 25px;
  }
  .about_intro_box__item:last-child {
    margin-right: 0;
  }
  .about_intro_box__title {
    width: 175px;
    font-family: 'Fraunces';
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }
  .about_info_box__text {
    width: 278px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
  }
  .green {
    background: #0E8784;
  }
  .white {
    color: #FEFCF7;
  }
  .order__item {
    background-color: #2C343E;
    width: 328px;
    height: 338px;
    padding: 32px 24px 32px 25px;
    border-radius: 10px;
  }
  .order__text {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .order__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
    width: 279px;
  }
  .blue {
    color: #0E8784;
  }
  .btn {
    display: inline-block;
    padding: 15px 35px 16px 35px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;
    margin-top: 40px;
    -webkit-transform: translateX(65px);
            transform: translateX(65px);
  }
  .footer__wrapper {
    width: 688px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 270px;
    background-color: #2C343E;
    position: relative;
    margin-top: 200px;
  }
  .footer__logo {
    width: 236px;
    height: 26px;
    margin: 48px 108px 47px 85px;
  }
  .footer__menu {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    color: #83888F;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-right: 33px;
  }
  .footer__link:hover {
    color: #FEFCF7;
  }
  .footer__img {
    position: absolute;
    right: 283px;
    bottom: 54px;
  }
  .footer__img_link {
    margin-right: 24px;
  }
  .footer__img_link:last-child {
    margin-right: 0;
  }
  .footer__img_right {
    margin-right: 24px;
  }
  .footer__img_right:nth-child(3) {
    margin-right: 0;
  }
  .footer .icon {
    width: 24px;
    height: 24px;
    fill: #FEFCF7;
  }
  .footer .icon:hover {
    fill: #FDD6BA;
  }
  .footer .twitter {
    width: 24px;
    height: 19.5px;
    fill: #FEFCF7;
  }
  .footer .twitter:hover {
    fill: #FDD6BA;
  }
  .footer .instagram {
    width: 24px;
    height: 24px;
    fill: #FEFCF7;
  }
  .footer .instagram:hover {
    fill: #FDD6BA;
  }
  .footer__wrapper {
    width: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 346px;
    background-color: #2C343E;
    position: relative;
    margin-top: 200px;
  }
  .footer__logo {
    width: 218px;
    height: 24px;
    text-align: center;
  }
  .footer__menu {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    margin-bottom: 24px;
  }
  .footer__link {
    color: #83888F;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-right: 0px;
  }
  .footer__link:hover {
    color: #FEFCF7;
  }
  .footer__img {
    position: absolute;
    right: 103px;
    bottom: 54px;
  }
  .footer__img_link {
    margin-right: 24px;
  }
  .footer__img_link:last-child {
    margin-right: 0;
  }
  .footer__img_right {
    margin-right: 24px;
  }
  .footer__img_right:nth-child(3) {
    margin-right: 0;
  }
  .footer .icon {
    width: 24px;
    height: 24px;
    fill: #FEFCF7;
  }
  .footer .icon:hover {
    fill: #FDD6BA;
  }
  .footer .twitter {
    width: 24px;
    height: 19.5px;
    fill: #FEFCF7;
  }
  .footer .twitter:hover {
    fill: #FDD6BA;
  }
  .footer .instagram {
    width: 24px;
    height: 24px;
    fill: #FEFCF7;
  }
  .footer .instagram:hover {
    fill: #FDD6BA;
  }
}
/*# sourceMappingURL=subscribe.css.map */