@media only screen and (max-width:375px){
    .container{
        margin: 0 auto;
        width: 327px;
        max-width: 100%;
        padding: 0px;
    }
    .menu{
        display: block;
        width: 16px;
        height: 15px;
        fill: #000;
    }
    .header__nav{
        display: flex;
        align-items: center;
        margin-top: 32px;
    }
    .header__list{
        display: none;
    }
    .checkbox{
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .checkbox:checked + .header__list{
        display: block;
        position: absolute;
        height: 434px;
        top: 70px;
        z-index: 2;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #5d5f61b8;
        text-align: center;
        padding-top: 50px;
        .header__item{
            margin-right: 0;
            margin-bottom: 20px;
        }
        .header__link{
            color: #000;
            text-align: center;
            margin-right: 0;
        }
    }
    .great{
        margin-top: 53px;
        margin-bottom: 120px;
        &__wrapper{
            background-image: url(../img/Bitmap.jpg),url(../img/Bitmap@2x.jpg);
            background-position: top center;
            width: 327px;
            height: 500px;
            border-radius: 10px;
            padding: 100px 0 99px 25px;
        }
        &__title{
            width: 279px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 40px;
            color: #FEFCF7;
        }
        &__text{
            text-align: center;
            margin-top: 32px;
            width: 279px;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            opacity: 0.8;
            font-style: normal;
            margin-bottom: 56px;
        }
        &__btn{
            font-family: 'Fraunces';
            width: 155px;
            height: 25px;
            padding: 15px 31px;
            background: #0E8784;
            border-radius: 6px;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            font-style: normal;
            text-decoration: none;
            margin-left: 35px;
        }
        &__btn:hover{
            background: #66D2CF;
        }
    }
    // ==================collection===================
    .collection{
        margin-bottom: 0px;
    &__wrapper{
        margin: 0 auto;
    }
    &__title{
        width: 325px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 72px;
        text-align: center;
        font-style: normal;
        background: linear-gradient(180deg,  #a7a6a5  0% 10% , #FEFCF7 );
        color:transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
    } 
    &__menu{
        width: 282px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        transform: translate(10px,20px);
    }
    &__item{
        // width: 573px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        margin-bottom: 48px;
    }
    &__item:nth-child(4){
        margin-right: 0px;
        margin-bottom: 120px;
    }
    &__subtitle{
        font-family: 'Fraunces';
        margin-top: 24px;
        text-align: center;
        margin-bottom: 24px;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }
    &__subtext{
        width: 282px;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
    &__danche{
        width: 190px;
        height: 141px;
        margin-top: 15px;
        margin-left: 20px;
    }
    &__espresso{
        width: 200px;
        height: 151px;
    }
    &__planalto{
        width: 200px;
        height: 151px;
    }
    &__piccollo{
        width: 200px;
        height: 151px;
    }
}
.choose{
    display: inline-block;
    margin-bottom: 440px;
    &__wrapper{
        background-color: #2C343E;
        border-radius: 10px;
        width: 324px;
        height: 902px;
        margin: 0 10px;
        text-align: center;
    }
    &__title_wrapper{
        text-align: center;
        width: 279px;
        margin: 0 auto;
    }
    &__title{
        text-align: center;
        font-weight: 900;
        font-style: normal;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        color: #FEFCF7;
        padding-top: 100px;
        margin-bottom: 32px;
    }
    &__text{
        width: 279px;
        margin-left: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        opacity: 0.8;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-top: 86px;
    }
    &__coffee{
        width: 71px;
        height: 72px;
        margin: 72px 104px 0 104px;
    }
    &__surprise{
        width: 72px;
        height: 72px;
        margin: 72px 103px 0 104px;
    }
    &__car{
        width: 72px;
        height: 50px;
        margin: 83px 103px 0 104px;
    }
    .coffee{
        padding:0;
    }
    .surprise{
        padding: 0;
    }
    .car{
        padding: 0;
    }
    &__item{
        display: flex;
        flex-direction: column;
        width: 279px;
        height: 382px;
        background: #0E8784;
        border-radius: 8px;
        margin-right: 0px;
        margin-bottom: 24px;
        // padding-top: 62px;
    }
    &__subtitle{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
        margin: 56px 0 24px 0;
    }
    &__subtext{
        width: 212px;
        height: 75px;
        color: #FEFCF7;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin-right: 0;
    }
    &__sub_wrapper{
        margin: 0 auto;
        width: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
// ======================work=============================
.second__container{
    width: 327px;
    height: 622px;
    max-width: 100%;
    transform: translateX(0px);
}
.work{
    display: inline-block;
    margin-top: 0px;
    &__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
&__line{
   display: none;
}
&__circle{
   display: none;
}
&__list{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 64px;
}
&__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    margin-right: 0px;
    &:nth-child(3){
        margin-right: 0;
    }
}
&__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0px;
}
&__number{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-top: 67px;
    margin-bottom: 38px;
}
&__subtitle{
    width: 327px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #333D4B;
  margin: 24px 0 24px 0;
  text-align: center;
}
&__subtext{
    width: 327px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    margin-left: 12px;
    text-align: center;
}
&__btn{
    padding: 15px 31px 16px 31px;
    background-color: #0E8784;
    border-radius: 6px;
    color: #FEFCF7;
}

}
// ==========================footer==========================
.footer{
    margin-top: 640px;
    display: inline-block;
    width: 340px;
    &__wrapper{
        display: flex;
        height: 346px;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        background-color: #2C343E;
        position: relative;
        // margin-left: 7px;
    }
    &__logo{
        margin: 54px 0 0 0;
    }
    .logo{
        width: 218px;
        height: 24px;
    }
    &__menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        margin-bottom: 65px;
        margin-top: 33px;
        // margin-right: 190px;
    }
    &__link{
        color: #83888F;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-right: 0;
        &:hover{
            color: #FEFCF7;
        }
    }
    &__item{
        margin-bottom: 24px;
        margin-right: 0px;
        &:last-child{
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    &__img{
        position: absolute;
        // right: 86px;0
        bottom: 54px;
        right: 100px;
        
    }
    &__img_link{
        margin-right: 24px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__img_right{
        margin-right: 24px;
        &:nth-child(3){
            margin-right: 0;
        }
    }
      .icon{
          width: 24px;
          height: 24px;
          fill: #FEFCF7;
          &:hover{
              fill:  #FDD6BA;
          }
      }
      .twitter{
          width: 24px;
          height: 19.5px;
          fill: #FEFCF7;
          &:hover{
            fill:  #FDD6BA;
        }
      }
      .instagram{
          width: 24px;
          height: 24px;
          fill: #FEFCF7;
          &:hover{
            fill:  #FDD6BA;
        }
      }
    }

}