.about{
    &__wrapper{
        background-image: url(../img/about.jpg);
        height: 450px;
        margin: 45px 0 168px 0;
        border-radius: 10px;
    }
    &__title__wrapper{
        padding: 137px 0 137px 85px;
    }
    &__title{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
    }
    &__text{
        width: 445px;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        margin-top: 24px;
    }
}