.plan{
    margin-top: 43px;
    margin-bottom: 165px;
    &__wrapper{
        width: 1260px;
        max-width: 100%;
        // padding: 0 10px;
        height: 450px;
        position: relative;
    }
    &__title{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        padding-top: 134px;
        padding-left: 85px;
    }
    &__text{
        width: 445px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;
        margin-top: 32px;
        margin-left: 85px;
    }
}
        .plan__image{
            max-width: 1260px;
            height: 450px;
            position: absolute;
        }